version: '3'

services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRESS_PASS}
    volumes:
      - ./database:/var/lib/postgresql/data
  app:
    container_name: sige
    build: ./
    ports:
      - 8000:8000
    volumes:
      - ./:/home/app
    links:
      - postgres
  